body {
    background-color: var(--corCinzaEscuro);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente a div centro */
    align-items: center; /* Centraliza verticalmente a div centro */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    flex-direction: column; /* Para alinhar o conteúdo em coluna */
}

:root {
    --corCinzaEscuro: #121212;
    --corRosa: #F8BBD0;
    --corCinzaMedio: #1d1d1d;
    --corCinzaClaro: #424242;
    --corBranco: #FFFFFF;
    --corRosaEscuro: #EC407A;
}

header {
    height: 100px;
    background-color: var(--corCinzaMedio);
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Para garantir que o header ocupe a largura total */
    position: fixed; /* Fixa o header no topo da página */
    top: 0;
}

#logo {
    display: flex;
    width: 80px;
    margin-left: 20px;
}

#titulo {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--corRosa);
    margin-left: 20px;
    font-size: 24px;
}

#botoes {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

#botoes button {
    background: linear-gradient(180deg, var(--corCinzaClaro) 50%, var(--corRosa) 50%);
    background-size: 100% 200%;
    width: 120px;
    height: 35px;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    transition: background-position 0.2s ease-in-out, color 0.4s ease;
    cursor: pointer;
    color: var(--corBranco);
}

#botoes button:hover {
    transform: scale(1.05);
    background-position: 0 100%;
    color: var(--corCinzaEscuro);
}

#centro {
    background-color: var(--corCinzaMedio);
    width: 500px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px; /* Espaço para o header */
}
